.about {
    .map {
        img {
            width: 100%;
        }
    }
    .info-list {
        padding: 12px 12px;
        li {
            font-size: 14px;
            padding: 12px 0;
            i {
                color: #d1d4d9;
                margin-right: 8px;
            }
        }
    }
}
